<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controladores.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>controladores.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContraseniaOlvidada</servlet-name>
        <servlet-class>controladores.ContraseniaOlvidada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCodigo</servlet-name>
        <servlet-class>controladores.ValidarCodigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarPassword</servlet-name>
        <servlet-class>controladores.CambiarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>controladores.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiCarrito</servlet-name>
        <servlet-class>controladores.MiCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiOrden</servlet-name>
        <servlet-class>controladores.MiOrden</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContraseniaOlvidada</servlet-name>
        <url-pattern>/ContraseniaOlvidada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCodigo</servlet-name>
        <url-pattern>/ValidarCodigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarPassword</servlet-name>
        <url-pattern>/CambiarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiCarrito</servlet-name>
        <url-pattern>/MiCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiOrden</servlet-name>
        <url-pattern>/MiOrden</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
